/*---------------*\
    Font styles 
\*---------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-----------------*\
    Common styles 
\*-----------------*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.btn{
    background-color: #E02C6D;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    border-radius: 5px;
    transform: scale(1.2);
}

/*------------------*\ 
    Header styles 
\*------------------*/

header{
    background-color: #2d25a0;
    padding: 42px 123px 86px 156px;
}

/* Navbar styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    margin-right: 36px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.5s;
}
nav a:hover{
    color: #E02C6D;
    border-bottom: 2px solid #E02C6D;
}

/* Top banner style */

.top-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    margin-top: 67px;
}
h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.top-part span img{
    float: right;
    width: 556.01px;
    height: 438px;
    /* transition: property duration timing-function delay|initial|inherit; */
    transition: transform .4s ease-in .1s;
}
.container:hover .top-part span img{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/*---------------*\ 
    Main styles 
\*---------------*/

/* Players album styles */
.players-album{
    width: 1050px;
    margin-top: 70px;
    margin-bottom: 165px;
    margin-left: calc((100% - 1050px) / 2);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    align-items: center;
}
.players{
    width: 330px;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.players img{
    width: 300px;
    height: 256px;
    margin: 0;
    transition: .5s;
}
.players:hover img{
    transform: scale(1.2);
}
.players h3{
    font-size: 28px;
    font-weight: 700;
}
.players p{
    font-size: 16px;
    font-weight: 400;
    font-feature-settings: 'liga' off;
    color: #6C6C6C;
}



/*-----------------*\
    Footer styles  
\*-----------------*/
footer{
    width: 483.87px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 63px;
}
footer img{
    width: 100%;
}
footer i{
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin: 0px 14px;
    color: #969BAB;
}
footer p{
    font-size: 18px;
    font-weight: 400;
}